<div class="col h-100 bg-dark">
    <div class="row">
        <div class="col p-0">
            <h3 class="text-light p-2">V2Manager</h3>
            <div class="nav flex-column nav-pills p-2"
                 id="v-pills-tab"
                 role="tablist"
                 aria-orientation="vertical">
                 
                {% for bar in bars %}
                <a class="btn btn-dark text-light focusnoshadow"
                   data-toggle="pill" href="#{{ bar.topage }}"
                   role="tab"
                   aria-controls="{{ bar.topage }}"
                   aria-selected="true">{{ bar.title }}</a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>